name: CI Pipeline

on:
  push:
    branches:
      - dev
      - main
  workflow_dispatch:   # Manual trigger for feature branches

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set Image Tag
        id: vars
        run: |
          BRANCH=${GITHUB_REF##*/}
          if [[ "$BRANCH" == "dev" ]]; then
            echo "TAG=dev-${GITHUB_SHA}" >> $GITHUB_OUTPUT
          elif [[ "$BRANCH" == "main" ]]; then
            echo "TAG=release-${GITHUB_SHA}" >> $GITHUB_OUTPUT
          else
            echo "TAG=feature-${GITHUB_SHA}" >> $GITHUB_OUTPUT
          fi

      - name: Login to GHCR
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build Image
        run: |
          docker build -t ghcr.io/kulkarni-abhi/${{ github.event.repository.name }}:${{ steps.vars.outputs.TAG }} .

      - name: Push Image
        run: |
          docker push ghcr.io/kulkarni-abhi/${{ github.event.repository.name }}:${{ steps.vars.outputs.TAG }}
