name: CI Pipeline

on:
  push:
    branches:
      - dev
      - main
  workflow_dispatch:

env:
  REGISTRY: ghcr.io/kulkarni-abhi

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      packages: write

    steps:
      - name: Checkout Service Repo
        uses: actions/checkout@v4

      - name: Set Variables
        id: vars
        run: |
          BRANCH=${GITHUB_REF##*/}
          SERVICE=${{ github.event.repository.name }}

          if [[ "$BRANCH" == "dev" ]]; then
            TAG="dev-${GITHUB_SHA}"
          elif [[ "$BRANCH" == "main" ]]; then
            TAG="release-${GITHUB_SHA}"
          else
            TAG="feature-${GITHUB_SHA}"
          fi

          echo "TAG=$TAG" >> $GITHUB_OUTPUT
          echo "BRANCH_NAME=$BRANCH" >> $GITHUB_OUTPUT
          echo "SERVICE_NAME=$SERVICE" >> $GITHUB_OUTPUT

      - name: Login to GHCR
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build Image
        run: |
          docker build -t $REGISTRY/${{ steps.vars.outputs.SERVICE_NAME }}:${{ steps.vars.outputs.TAG }} .

      - name: Push Image
        run: |
          docker push $REGISTRY/${{ steps.vars.outputs.SERVICE_NAME }}:${{ steps.vars.outputs.TAG }}

      # --------------------------------------------------
      # Update GitOps (ONLY for dev and main)
      # --------------------------------------------------
      - name: Update GitOps Repo
        if: steps.vars.outputs.BRANCH_NAME == 'dev' || steps.vars.outputs.BRANCH_NAME == 'main'
        run: |
          git clone https://x-access-token:${{ secrets.GITOPS_TOKEN }}@github.com/kulkarni-abhi/bugtracker-gitops.git
          cd bugtracker-gitops

          SERVICE=${{ steps.vars.outputs.SERVICE_NAME }}
          IMAGE_TAG=${{ steps.vars.outputs.TAG }}
          BRANCH=${{ steps.vars.outputs.BRANCH_NAME }}

          if [[ "$BRANCH" == "dev" ]]; then
            sed -i "s/tag:.*/tag: \"${IMAGE_TAG}\"/" environments/dev/${SERVICE}-values.yaml
            sed -i "s/tag:.*/tag: \"${IMAGE_TAG}\"/" environments/qe/${SERVICE}-values.yaml
          fi

          if [[ "$BRANCH" == "main" ]]; then
            sed -i "s/tag:.*/tag: \"${IMAGE_TAG}\"/" environments/staging/${SERVICE}-values.yaml
            sed -i "s/tag:.*/tag: \"${IMAGE_TAG}\"/" environments/prod/${SERVICE}-values.yaml
          fi

          git config user.name "ci-bot"
          git config user.email "ci@bot.com"

          git add .
          git commit -m "Deploy ${SERVICE}:${IMAGE_TAG}"
          git push origin main
